<html>

<body>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <%= order%>
                <% _.each(order.products,function(product) { %>
                <td>
                       
                           <h3> Price</h3> <%= product.price %>
                           <h3> Unit Price</h3> <%= product.unitPrice %>
                           <h3>Quantity</h3> <%= product.quantity %>
                           <h3>Tax amount</h3> <%= product.taxAmt %> 
                           <h3>Tax percentage</h3> <%= product.taxPercent %>
                           <h3>Price after tax</h3> <%= product.priceAfterTax %>
                           
                           <h3>Discount amount</h3> <%= product.discountAmount %>
                           <h3>Discount percentage</h3> <%= product.discountPercent %>
                          
                          
                           <h3>Final amount</h3> <%= product.finalAmt %>
                              
                        
                </td>       
                <h3>GrandTotal</h3> <%= order.grandTotal %>       
            </tr>
            
        </tbody>
    </table>
</body>

</html>