<!doctype html >
<html lang="us">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div style="padding:10px; border: 1px solid #eee;-moz-box-shadow:0 0 10px rgba(0, 0, 0, .15)!important;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .15)!important;box-shadow: 0 0 10px rgba(0, 0, 0, .15)!important; margin:auto;   font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
        <table cellpadding="0" cellspacing="0" style="min-height: 100%; margin: auto; border-collapse:collapse; border-spacing:0;color: #555; font-size:14px;">
            <caption align="center" style="padding-top: 8px;padding-bottom: 8px; font-size:20px; text-align: center"> <strong>Tax invoice</strong></caption>
            <tbody>
                <tr>
                    <td align="top" colspan="3" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; border-collapse:collapse; border-spacing:0;">
                            <tbody>
                                <tr>
                                    <td style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                                        <img src="http://umber.wohlig.co.in/img/home/logo.png" alt="Logo" style="max-width: 130px; height:auto;">
                                    </td>
                                    <td colspan="2">
                                        <div style="width: 185px;float: right">
                                            <div><strong>Invoice Number:</strong><span>&nbsp; &nbsp;<%= invoiceNumber %></span></div>
                                            <div><strong>Order Number:</strong><span>&nbsp; &nbsp;<%= orderNo %></span></div>
                                            <div><strong>Date:</strong><span>&nbsp; &nbsp;<%= date %></span></div>
                                            <div><strong>GST Number:</strong><span>&nbsp; &nbsp; 76869606</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <strong>Company Name</strong>:
                    </td>
                    <td align="top" colspan="2" style="width: 445px; padding: 8px;line-height: 1.42857143;vertical-align: top;">Burntumber Fashion Pvt Ltd.</td>
                </tr>
                <tr>
                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <strong>Company Address</strong>:
                    </td>
                    <td align="top" colspan="2" style="width: 445px; padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <address style="width: 360px; font-style: normal;
    "> R-39, TTC Industrial Area MIDC- Rabale Navi Mumbai-400701.</address>
                    </td>
                </tr>
                <tr>
                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <strong>Customer Name</strong>:
                    </td>
                    <td align="top" colspan="2" style="width: 445px; padding: 8px;line-height: 1.42857143;text-transform:capitalize ;vertical-align: top;"><%if (user.firstName !==undefined) { %>
                        <%= user.firstName %>
                        <% } %> <%if (user.middleName !==undefined) { %>
                            <%= user.middleName %>
                            <% } %> <%if (user.lastName !==undefined) { %>
                                <%= user.lastName %>
                                <% } %></td>
                </tr>
                <tr>
                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <strong>Billing Address</strong>:
                    </td>
                    <td align="top" colspan="2" style="width: 445px; padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <address style="width: 360px; font-style: normal;
    "><%= user.billingAddress.line1 %>
    <%= user.billingAddress.line2 %>
    <%= user.billingAddress.line3 %>
    <%= user.billingAddress.city %>
    <%= user.billingAddress.state %>
    <%= user.billingAddress.pincode %>
    <%= user.billingAddress.country %></address>
                    </td>
                </tr>
                <tr>
                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <strong>Shipping Address</strong>:
                    </td>
                    <td align="top" colspan="2" style="width: 445px; padding: 8px;line-height: 1.42857143;vertical-align: top;">
                        <address style="width: 360px; font-style: normal;">
                           
                                <%= user.shippingAddresses[0].line1 %>
                                <%= user.shippingAddresses[0].line2 %>
                                <%= user.shippingAddresses[0].line3 %>
                                <%= user.shippingAddresses[0].city %>
                                <%= user.shippingAddresses[0].state %>
                                <%= user.shippingAddresses[0].pincode %>
                                <%= user.shippingAddresses[0].country %>
                            
    </address>
                    </td>
                </tr>
                <tr>
                    <td align="top" colspan="3" style="line-height: 1.42857143;vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: auto;border-collapse:collapse; border-spacing:0;">
                            <thead>
                                <tr>
                                    <th align="left" style="padding: 8px;border-bottom: 1px solid #ddd;background: #eee;line-height: 1.42857143;vertical-align: top;text-align:left">Item & Description</th>
                                    <th align="center" style="padding: 8px;border-bottom: 1px solid #ddd;background: #eee;line-height: 1.42857143;vertical-align: top;text-align:center">Unit Price</th>
                                    <th align="center" style="padding: 8px;border-bottom: 1px solid #ddd;background: #eee;line-height: 1.42857143;vertical-align: top;text-align:center">Quantity</th>
                                    <th align="center" style="padding: 8px;border-bottom: 1px solid #ddd;background: #eee;line-height: 1.42857143;vertical-align: top;text-align:center">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                             <% _.each(products,function(product) { %>
                                <tr>
                                    <td align="top" style="width:270px;padding: 8px;line-height: 1.42857143;vertical-align: top;">
                                        <div style="  color: #333; text-transform:uppercase;">
                                                <%= product.product.description %>
                                        </div>
                                        <div style="font-size: 12px;">
                                            Product Code:&nbsp;<span><%= product.product.productCode %></span>
                                        </div>
                                    </td>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143; text-align:center;vertical-align: top;"> &#8377;&nbsp;<%= _.round(product.product.price) %></td>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;text-align:center;vertical-align: top;"><%= product.quantity %></td>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;text-align:center;vertical-align: top;">&#8377;&nbsp;<%= _.round(product.product.price) * product.quantity  %></td>
                                </tr>
                                <% }); %>  
                                <tr>
                                    <td align="top" rowspan="6" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">
                                        <div>Order Notes</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                            an unknown printer took a galley of type and scrambled it to make a type specimen
                                            book. It has survived not only five centuries, but also the leap into electronic
                                            typesetting, remaining essentially unchanged. </p>
                                    </td>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;text-align:left; text-indent:12px;vertical-align: top;">Subtotal</td>
                                    <td align="top" colspan="2" style="padding: 8px;line-height: 1.42857143; text-align:center;vertical-align: top;"><span>&#8377;</span><span style="min-width:85px;float:right;"><%= subTotal %></span></td>
                                </tr>
                                <tr>

                                    <td align="top"  style="padding: 8px;line-height: 1.42857143;text-align:left;vertical-align: top;">Shipping and Handling</td>
                                    <td align="top" colspan="2" style="padding: 8px;line-height: 1.42857143;text-align:right;vertical-align: top;"><span>&#8377;</span><%= shippingAmount %></td>

                                </tr>
                                <tr>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143; text-align:left;vertical-align: top;">Discount</td>
                                    <td align="top" colspan="2" style="padding: 8px;line-height: 1.42857143;text-align:center;vertical-align: top;"><span>&#8377;</span><span style="min-width:85px;float:right;"><%= totalDiscount %></span></td>
                                </tr>
                                <tr>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;text-align:left;vertical-align: top;">Total taxes</td>
                                    <td align="top" colspan="2" style="padding: 8px;line-height: 1.42857143;text-align:center;vertical-align: top;"><span>&#8377;</span><span style="min-width:85px;float:right;"><%= gst %></span></td>
                                </tr>
                              
                                <tr>
                                    <td align="top" colspan="1" style="padding: 8px;line-height: 1.42857143;text-align:left;vertical-align: top;"><strong>Grand Total</strong></td>
                                    <td align="top" colspan="3" style="padding: 8px;line-height: 1.42857143;text-align:center;vertical-align: top;"><strong><span>&#8377;</span><span  style="min-width:85px;float:right;"><%= totalAmount %></span></strong></td>
                                </tr>
                                <tr>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;"></td>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;"></td>
                                </tr>
                                <tr>
                                    <td align="top" style="padding: 8px;line-height: 1.42857143;vertical-align: top;">Thank you for shopping with us!</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
</body>

</html>