<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<form action="http://umber.wohlig.co.in/api/Order/postReq" name="payment" method="POST">
    <input type="hidden" value="<%= merchant_id %>" name="merchant_id" />
    <input type="hidden" value="<%= order_id %>" name="order_id" />
    <input type="hidden" value="<%= currency %>" name="currency" />
    <input type="hidden" value="<%= amount %>" name="amount" />
    <input type="hidden" value="<%= redirect_url %>" name="redirect_url" />
    <input type="hidden" value="<%= cancel_url %>" name="cancel_url" />
    <input type="hidden" value="<%= language %>" name="language" />
    <input type="hidden" value="<%= billing_name %>" name="billing_name" />
    <input type="hidden" value="<%= billing_address %>" name="billing_address" />
    <input type="hidden" value="<%= billing_city %>" name="billing_city" />
    <input type="hidden" value="<%= billing_state %>" name="billing_state" />
    <input type="hidden" value="<%= billing_zip %>" name="billing_zip" />
    <input type="hidden" value="<%= billing_country %>" name="billing_country" />
    <input type="hidden" value="<%= billing_tel %>" name="billing_tel" />
    <input type="hidden" value="<%= billing_email %>" name="billing_email" />
    <input type="hidden" value="<%= delivery_name %>" name="delivery_name" />
    <input type="hidden" value="<%= delivery_address %>" name="delivery_address" />
    <input type="hidden" value="<%= delivery_city %>" name="delivery_city" />
    <input type="hidden" value="<%= delivery_state %>" name="delivery_state" />
    <input type="hidden" value="<%= delivery_zip %>" name="delivery_zip" />
    <input type="hidden" value="<%= delivery_country %>" name="delivery_country" />
    <input type="hidden" value="<%= delivery_tel %>" name="delivery_tel" />

    <button style="display:none" type="submit" class="submitForm"> SUBMIT </button>
</form>
<div class="container">
    <h3 class="text-center" style="padding:20%;">Loading HDFC Payment Gateway</h3>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".submitForm").click();
    });
</script>